@import 'vars';
@import url('../styles/fonts.css');
@import url('../styles/normalize.css');
* {
    font-family: 'Montserrat';
    flex-wrap: wrap;
}
body,html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Montserrat';
    background: url('../imgs/body-background.png') no-repeat;
    background-size: cover;
    background-color: #1F2326;
}
.body-inner {
    width: 86%;
    margin: 153px auto;
    box-shadow: 0 0 12px -1px black;
    border-radius: 28px;
}
.header {
    font-size: 14px;
    color: white;
    border-radius: 28px 28px 0 0;
    font-weight: 500;
    background-color: #1F2326;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
    padding: 55px 73px;
    a {color: white;}
    &-logo {
        position: relative;
        &::after {
            content: url('../imgs/logo-after1.png');
            position: absolute;
            left: 120%;
        }
        &::before {
            content: url('../imgs/logo-after2.png');
            position: absolute;
            left: 150%;
        }
    }
    &__main {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;        
    }
    &__nav {
        margin-left:120px;
        ul {
            display: flex;
            li {
                margin-left: 20px;
                line-height: 25px;
                &:first-child {
                    margin: 0;
                }
            }
        } 
    }
    .user-info{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        &::after {
            content: url('../imgs/drop.png');
            position: relative;
            top: -2.5px;
            left: 8px;
        }
        img {
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}
.agents {
    background: url('../imgs/backgroundagents.png') #FC0032;
    padding: 70px 0 0 0;
        .agents__head-wrapper {
            margin:0 0 30px 52px;
            width: fit-content;
            h2 {
                font-family: 'Druk Wide';
                color: #FC0032;
                text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
                -webkit-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
                -moz-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);  
                font-weight: 500;
                font-size: 100px;
            }
        }
    &__element-wrapper {
        position: relative;
        left: 3.5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(307px, auto));
        grid-gap: 65px;

    }
    &__item {
        &-head {
            position: relative;
            left: -50%;
            top: 30%;
            color: white;
            font-family: 'Druk Wide';
            transform: rotate(90deg);
            span {
                color: red;
            }
            h3 {
                font-size: 52px;
                font-weight: 500;
            }
        }
        height: 806px;
        background-color: #1E2326;
        background-position: center;
        background-size: cover;
        border-radius: 10px 0 0 0;
        &:nth-child(1) {
            background: url('../imgs/player1.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &:nth-child(2) {
            background: url('../imgs/player2.png') #1E2326;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &:nth-child(3) {
            background: url('../imgs/player3.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &:nth-child(4) {
            background: url('../imgs/player4.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: 1px black solid;
        }
    }
}
@media screen and (max-width: 1500px) {
    .header {
        &__nav {
            ul {
                li {
                    margin: 0;
                    flex-basis: 33%;
                }
            }
        }
    }
}
@media screen and (max-width:1080px) {
    .user-info {
        .user-nickname {
            display: none;
        }
    }
}
@media screen and (max-width: 1654px) {
    .agents {
        &__item {
            &:nth-child(4) {
                grid-column: 2;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .body-inner {
        width: 100%;
    }
    .agents {
        &__element-wrapper {
            position: static;
            grid-gap: 20px;
            padding: 0 20px;
        }
        &__item {
            &:last-child {
                grid-column: auto;
            }
            &-head {
                left: -35%;
            }
        
        }
    }
}
@media screen and (max-width: 766px) {
    .header {
        &__nav {
            ul {
                li {
                    flex-basis: 50%;
                }
            }
        }
    }   
}