@import 'vars';
@import url('../styles/fonts.css');
@import url('../styles/normalize.css');
* {
    font-family: 'Montserrat';
    flex-wrap: wrap;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
    background: url('../imgs/body-background.png');
    background-color: #1F2326;
    background-size: cover;
    background-repeat: no-repeat;
}
.body-inner {
    width: 86%;
    margin: 153px auto 153px auto;
    box-shadow: 0 0 12px -1px black;
    border-radius: 28px;
}
.burger {
    display: none;
}
.header {
    font-size: 14px;
    color: white;
    border-radius: 28px 28px 0 0;
    font-weight: 500;
    background-color: #1F2326;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    flex-wrap: nowrap;
    padding: 55px 73px;
    a {color: white;}
    &-logo {
        position: relative;
        &::after {
            content: url('../imgs/logo-after1.png');
            position: absolute;
            left: 120%;
        }
        &::before {
            content: url('../imgs/logo-after2.png');
            position: absolute;
            left: 150%;
        }
    }
    &__main {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;        
    }
    &__nav {
        margin-left:120px;
        ul {
            display: flex;
            li {
                margin-left: 20px;
                line-height: 25px;
                &:first-child {
                    margin: 0;
                }
            }
        } 
    }
    .user-info{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        &::after {
            content: url('../imgs/drop.png');
            position: relative;
            top: -2.5px;
            left: 8px;
        }
        img {
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}
.agents {
    background: url('../imgs/backgroundagents.png') #FC0032;
    padding: 70px 0 0 0;
    position: relative;
        .agents__head-wrapper {
            margin:0 0 30px 52px;
            width: fit-content;
            h2 {
                font-family: Montserrat;
                color: white;
                font-weight: 500;
                font-size: 100px;
            }
        }
    &__element-wrapper {
        position: relative;
        left: 3.5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(307px, auto));
        grid-gap: 65px;

    }
    &__item {
        width: 100%;
        &-head {
            position: relative;
            left: -50%;
            top: 30%;
            color: white;
            font-family: 'Druk Wide';
            transform: rotate(90deg);
            span {
                color: red;
            }
            h3 {
                font-size: 52px;
                font-weight: 500;
            }
        }
        .abillities {
            position: relative;
            left: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #1F2326;
            border: 2px #F8F8F8 solid;
            box-sizing: border-box;
            padding: 10px 25px;
            top: 85%;
            img {
                width: 50px;
                height: 50px;
            }
            &--whiteback {
                background-color: white;
                border: 2px solid #1F2326;
            }
        }
        height: 806px;
        background-color: #1E2326;
        background-position: center;
        background-size: cover;
        border-radius: 10px 0 0 0;
        &:nth-child(1) {
            background: url('../imgs/player1.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &:nth-child(2) {
            background: url('../imgs/player2.png') #1E2326;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &:nth-child(3) {
            background: url('../imgs/player3.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
        &:nth-child(4) {
            background: url('../imgs/player4.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: 1px black solid;
        }
    }
}

.features {
    padding: 20px;
    position: relative;
    top: 70px;
    left: -5%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(330px,auto));
    grid-auto-rows: 150px;
    margin: 0 auto;
    @media screen and (max-width: 900px) {
        position: static;
    }
    @media screen and (max-width: 690px) {
        max-width: 630px;
        margin: 0 auto;
    }

    &__item {
        background: white;
        &:last-child {
            width: 50%;
            @media screen and (max-width: 1640px) {
                justify-self: center;
                grid-column: 2;
            }
            @media screen and (max-width: 690px) {
                grid-column: auto;
            }
        }
    }
}
.footer {
}

@media screen and (max-width: 1500px) {
    .header {
        &__nav {
            ul {
                li {
                    margin: 0;
                    flex-basis: 33%;
                }
            }
        }
    }
}
@media screen and (max-width:1080px) {
    .user-info {
        .user-nickname {
            display: none;
        }
    }
}
@media screen and (max-width: 1654px) {
    .agents {
        &__item {
            &:nth-child(4) {
                grid-column: 2;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .body-inner {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .header {
        padding: 53px 30px;
        border-radius: 0;
    }
    .agents {
        &__head  {
            font-size: 50px !important;
        }
        .abillities {
            left: 0;
            top: 78%;
            margin: 0 auto;
            flex-wrap: nowrap;
            
        }
        &__element-wrapper {
            position: static;
            grid-gap: 20px;
            padding: 0 20px;
        }
        &__item {
            &:last-child {
                grid-column: auto;
            }
            &__head-wrapper {
            }
            &-head {
                left: -35%;
            }
        
        }
    }
}
@media screen and (max-width: 766px) {
    .header {
        &__nav {
            ul {
                li {
                    flex-basis: 50%;
                }
            }
        }
    }
    .agents {
        &__element-wrapper {
            
        }
        &__item {
            display: block;
            margin: 0 auto;
            max-width: 300px;
        }
    }   
}
@media screen and (max-width: 550px) {
    .header {
        &-logo {
            display: block;
            flex-grow: 2;
        }
        &__nav {
            display: none;
        }
        .user-info {
            justify-self: end;
            &::after {
                left: -50%;
            }
        }
        .burger {
            margin-left: 20px;
            display: grid;
            grid-gap: 5px 0;
            span {
                display: block;
                width: 30px;
                height: 2px;
                background: white;
                
            }
        }
    }   
}
@media screen and(max-width:425px) {
    
    .agents {
        &__head-wrapper {
            margin: 0 auto 50px auto !important;
        }
        .abillities {
            left: 10%;
            top: 81%;
        }
    }
}
@media screen and (max-width: 388px) {
    .agents {
        &__element-wrapper {
            padding: 0;
        }
        &__head-wrapper {
        }
        &__head {
            font-size: 50px !important;
        }
    }
}
@media screen and (max-width: 320px) {
    .abillities {
        left: 0 !important;
    }
    .header-logo {
        &::after,&::before {
            display: none;
        }
    }
}