@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@font-face {
    font-family: 'Druk Wide';
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Druk\ Wide\ Medium.woff) format('woff');
}
