@import url("../styles/fonts.css");
@import url("../styles/normalize.css");
* {
  font-family: "Montserrat";
  flex-wrap: wrap;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat";
  background: url("../imgs/body-background.png") no-repeat;
  background-size: cover;
  background-color: #1F2326;
}

.body-inner {
  width: 86%;
  margin: 153px auto;
  box-shadow: 0 0 12px -1px black;
  border-radius: 28px;
}

.burger {
  display: none;
}

.header {
  font-size: 14px;
  color: white;
  border-radius: 28px 28px 0 0;
  font-weight: 500;
  background-color: #1F2326;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  flex-wrap: nowrap;
  padding: 55px 73px;
}
.header a {
  color: white;
}
.header-logo {
  position: relative;
}
.header-logo::after {
  content: url("../imgs/logo-after1.png");
  position: absolute;
  left: 120%;
}
.header-logo::before {
  content: url("../imgs/logo-after2.png");
  position: absolute;
  left: 150%;
}
.header__main {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.header__nav {
  margin-left: 120px;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  margin-left: 20px;
  line-height: 25px;
}
.header__nav ul li:first-child {
  margin: 0;
}
.header .user-info {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.header .user-info::after {
  content: url("../imgs/drop.png");
  position: relative;
  top: -2.5px;
  left: 8px;
}
.header .user-info img {
  border-radius: 50%;
  margin-right: 10px;
}

.agents {
  background: url("../imgs/backgroundagents.png") #FC0032;
  padding: 70px 0 0 0;
}
.agents .agents__head-wrapper {
  margin: 0 0 30px 52px;
  width: fit-content;
}
.agents .agents__head-wrapper h2 {
  font-family: Montserrat;
  color: white;
  font-weight: 500;
  font-size: 100px;
}
.agents__element-wrapper {
  position: relative;
  left: 3.5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(307px, auto));
  grid-gap: 65px;
}
.agents__item {
  width: 100%;
  height: 806px;
  background-color: #1E2326;
  background-position: center;
  background-size: cover;
  border-radius: 10px 0 0 0;
}
.agents__item-head {
  position: relative;
  left: -50%;
  top: 30%;
  color: white;
  font-family: "Druk Wide";
  transform: rotate(90deg);
}
.agents__item-head span {
  color: red;
}
.agents__item-head h3 {
  font-size: 52px;
  font-weight: 500;
}
.agents__item .abillities {
  position: relative;
  left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1F2326;
  border: 2px #F8F8F8 solid;
  box-sizing: border-box;
  padding: 10px 25px;
  top: 85%;
}
.agents__item .abillities img {
  width: 50px;
  height: 50px;
}
.agents__item .abillities--whiteback {
  background-color: white;
  border: 2px solid #1F2326;
}
.agents__item:nth-child(1) {
  background: url("../imgs/player1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.agents__item:nth-child(2) {
  background: url("../imgs/player2.png") #1E2326;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.agents__item:nth-child(3) {
  background: url("../imgs/player3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.agents__item:nth-child(4) {
  background: url("../imgs/player4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px black solid;
}

@media screen and (max-width: 1500px) {
  .header__nav ul li {
    margin: 0;
    flex-basis: 33%;
  }
}
@media screen and (max-width: 1080px) {
  .user-info .user-nickname {
    display: none;
  }
}
@media screen and (max-width: 1654px) {
  .agents__item:nth-child(4) {
    grid-column: 2;
  }
}
@media screen and (max-width: 900px) {
  .body-inner {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .header {
    padding: 53px 30px;
    border-radius: 0;
  }

  .agents__head {
    font-size: 50px !important;
  }
  .agents .abillities {
    left: 0;
    top: 78%;
    margin: 0 auto;
    flex-wrap: nowrap;
  }
  .agents__element-wrapper {
    position: static;
    grid-gap: 20px;
    padding: 0 20px;
  }
  .agents__item:last-child {
    grid-column: auto;
  }
  .agents__item-head {
    left: -35%;
  }
}
@media screen and (max-width: 766px) {
  .header__nav ul li {
    flex-basis: 50%;
  }

  .agents__item {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
}
@media screen and (max-width: 550px) {
  .header-logo {
    display: block;
    flex-grow: 2;
  }
  .header__nav {
    display: none;
  }
  .header .user-info {
    justify-self: end;
  }
  .header .user-info::after {
    left: -50%;
  }
  .header .burger {
    margin-left: 20px;
    display: grid;
    grid-gap: 5px 0;
  }
  .header .burger span {
    display: block;
    width: 30px;
    height: 2px;
    background: white;
  }
}
@media screen and (max-width: 425px) {
  .agents__head-wrapper {
    margin: 0 auto 50px auto !important;
  }
  .agents .abillities {
    left: 10%;
    top: 81%;
  }
}
@media screen and (max-width: 388px) {
  .agents__element-wrapper {
    padding: 0;
  }
  .agents__head {
    font-size: 50px !important;
  }
}
@media screen and (max-width: 320px) {
  .abillities {
    left: 0 !important;
  }

  .header-logo::after, .header-logo::before {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
